.gallery{
    display: inline-block;
    border: 1px;
    margin: 5px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

/* .gallery img{
    width: 300px;
    height: auto;
} */